.trans, .tif-btn, .picture{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}

.trans-slow{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.trans-deadslow{
    -webkit-transition: all 0.9s;
    -moz-transition: all 0.9s;
}
*{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

a:hover,
a:focus{text-decoration: none;}

*::selection {
    background: #E8CCCE; /* WebKit/Blink Browsers */
}
*::-moz-selection {
    background: #E8CCCE; /* Gecko Browsers */
}

body{
    background-color: #0D0404;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
    font-family: "Helvetica Neue", "Arial", sans-serif;
}

.tif-btn{display: inline-block;border: none;outline: none;color: #fff;background-color: transparent;padding: 0rem 0.8rem 0.1rem;font-size: 26px;font-family: "Oswald", sans-serif;text-transform: uppercase;font-weight: 500;box-shadow: inset 2px 0 0 #fff;cursor: pointer;border-radius: 0px;}
.tif-btn.btn-sm{font-size: 1.3rem;}
.tif-btn:hover{box-shadow: inset 280px 0 0 #fff;color: #E52B22;}
.tif-btn.red{box-shadow: inset 2px 0 0 #E52B22;color: #E52B22;}
.tif-btn.red:hover{box-shadow: inset 320px 0 0 #E52B22;color: #fff;}
.tif-btn.black{box-shadow: inset 2px 0 0 #000;color: #000;}
.tif-btn.black:hover{box-shadow: inset 400px 0 0 #000;color: #E52B22;}

.menu-wrapper{position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 9;background: rgba(0,0,0,.8);display: flex;align-items: end;justify-content: center;flex-direction: column;background-color: #0D0404;}
.menu-wrapper .close{position: absolute;top: 2rem;right: 2rem;z-index: 3;}
.menu-wrapper nav{display: block;z-index: 14;position: relative;width: 100%;}
.menu-wrapper nav ul{text-align: right;margin: 0;padding-right: 2rem;}
.menu-wrapper nav ul li{display: block;}
.menu-wrapper nav ul li + li{margin-top: 4rem;}
.menu-wrapper nav ul li a{color: rgba(255,255,255,0.6);font-size: 3.4rem;font-family: "Oswald", sans-serif;text-transform: uppercase;font-weight: 500;}
.menu-wrapper nav ul li a:hover{color: #fff;}
.menu-wrapper:before{}
.menu-wrapper .stripe{display: block;height: 100%;width: 500px;background: #E52B22;position: absolute;top: 0;right: 0;}
.menu-wrapper .stripe:after{background-image: url("../images/triangle-red-vertical.svg");position: absolute;top:0;right:499px;height: 100%;width:600px;background-size: contain;background-repeat: no-repeat;transform: scale(-1, 1);content: "";}
.menu-wrapper .stripe.second{width: 700px;opacity: 0.6;}
.menu-wrapper .stripe.second:after{right: 699px;}
.menu-wrapper .stripe.third{width: 900px;opacity: 0.4;}
.menu-wrapper .stripe.third:after{right: 899px;}

header.primary{padding: 1rem 0;position: fixed;top: 0;left: 0;width: 100%;background-color: rgba(0,0,0,.24);z-index: 12;}
header.primary.menu-open{background-color: transparent;}
header.primary a.branding{}
header.primary a.branding img{}
header.primary a.branding img{}
header.primary a.menu-toggle{cursor: pointer;}
header.primary a.menu-toggle img{}
header.primary a.menu-toggle img.open{}
header.primary a.menu-toggle img.close{display: none;}
header.primary a.menu-toggle.active img.open{display: none;}
header.primary a.menu-toggle.active img.close{display: inline-block;}

section.jumbo{min-height: 100vh;background-repeat: no-repeat;background-size: cover;background-position: center center;padding-top: 4rem;display: flex;align-content: center;justify-content: center;flex-direction: column;position: relative;}
section.jumbo a.scroll-arrow{position: absolute;left:0;width:auto;bottom:2rem;z-index: 2;opacity: 0.2;text-align: center;display: inline-block;left: 50%;transform: translate(-50%, 0);}
section.jumbo a.scroll-arrow > img{width: 50px;height: auto;}
section.jumbo a.scroll-arrow:hover{opacity: 0.4;}
section.jumbo.red{}
section.jumbo.red:before{content: "";position: absolute;top: 0;left: 0;background-color: #E52B22;height: 100%;display: block;width: 100%;opacity: 0.6;z-index: 1;}
section.jumbo.red.black:before{background-color: #0d0404;z-index: 1;}
section.jumbo .text-cont{z-index: 2;position: relative;}
section.jumbo .text-cont h1,
section.jumbo .text-cont h2{font-family: "Oswald", sans-serif;font-size: 2.4rem;text-transform: uppercase;font-weight: 500;}
section.jumbo .text-cont p{color: rgba(255,255,255,0.8);}
section.jumbo .background{background-repeat: no-repeat;background-size: cover;background-position: left center;position: absolute;width: 100%;height: 100%;top: 0;right: 0;}

section.callout{min-height: 100vh;display: flex;align-content: center;justify-content: center;flex-direction: column;padding: 2rem 0;background-repeat: no-repeat;background-size: cover;background-position: center center;}
section.callout .text-cont{padding-left: 1rem;border-left: 2px solid #fff;}
section.callout .text-cont h2{font-family: "Oswald", sans-serif;font-size: 1.6rem;text-transform: uppercase;}

section.chapter_nav{height: 100vh;overflow: hidden;}
section.chapter_nav ul.nav{margin-left: -90px;margin-right: -90px;height: 100%;}
section.chapter_nav ul.nav li{width: 33.33333%;min-height: 100vh;display: flex;align-content: center;justify-content: center;flex-direction: column;transform: skew(-9deg);overflow: hidden;background: #0d0404;}
section.chapter_nav ul.nav li:before{content: "";background-repeat: no-repeat;background-size: cover;background-position: center center;background-image: url('../images/ethics-hero.jpg');position: absolute;
    top: 0;left: -15%;width: 130%;height: 100%;transform: skew(9deg);opacity: 0.6;}
section.chapter_nav ul.nav li:nth-child(2):before{background-image: url('../images/stance-hero.jpg');}
section.chapter_nav ul.nav li:nth-child(3):before{background-image: url('../images/community-hero.jpg');}
section.chapter_nav ul.nav li .text-cont{padding: 2rem;display: block;width: 70%;margin: 0 auto;transform: skew(9deg);}
section.chapter_nav ul.nav li .text-cont h4{font-family: "Oswald", sans-serif;font-size: 2.8rem;text-transform: uppercase;display: block;}
section.chapter_nav ul.nav li:first-child .text-cont{padding-left: 4rem;}
section.chapter_nav ul.nav li:last-child .text-cont{padding-right: 4rem;}

section.chapter_nav:hover{}
section.chapter_nav:hover ul.nav li{opacity: 0.4;}
section.chapter_nav:hover ul.nav li:hover{opacity: 1;transform: scale(1.1, 1.1) skew(-9deg);z-index: 2;}
section.chapter_nav:hover ul.nav li:hover .text-cont{transform: skew(9deg) scale(1.1,1.1);text-shadow: 1px 1px 7px rgba(0,0,0,.2);}
section.chapter_nav:hover ul.nav li:first-child:hover .text-cont{transform: translate(30px,0) skew(9deg) scale(1.1,1.1);}
section.chapter_nav:hover ul.nav li:last-child:hover .text-cont{transform: translate(-30px,0) skew(9deg) scale(1.1,1.1);}

section.message{background: #fff;color: #0D0404;min-height: 100vh;display: flex;align-content: center;justify-content: center;flex-direction: column;padding: 2rem 0;background-repeat: no-repeat;background-size: cover;background-position: center center;}
section.message.quote{color: #fff;}
section.message.light{color: #0D0404;}
section.message .text-cont{}
section.message .text-cont .paragraph{position: relative;}
section.message .text-cont h3,
section.message .text-cont h4,
section.message .text-cont h5{font-family: "Oswald", sans-serif;text-transform: uppercase;text-align: center;display: block;font-size: 1.4rem;}
section.message .text-cont h4{text-align: left;}
section.message .text-cont h5{text-align: right;}
section.message .text-cont p{line-height: 1.4;}
section.message .text-cont span.source{color: #E52B22;font-style: italic;font-size: 0.9rem;}

section.intro{padding: 7rem 0;overflow: hidden;}
section.intro .text-cont{}
section.intro .text-cont p{color: rgba(255,255,255,0.8);display: block;max-width: 540px;}
section h4.underlined{font-family: "Oswald", sans-serif;text-transform: uppercase;margin-top: 6rem;display: block;font-size: 1.5rem;}
section h4.underlined:after{display: block;height: 4px;background: #E52B22;width: 90vw;content: "";margin-top: 1.4rem;margin-left: 100px;}

section.story{padding: 3rem 0;overflow-x: hidden;}
section.story.large-marge{padding: 6rem 0;}
section.story img.picture{opacity: 0.4;width: 100%;height: auto;margin-left: -15px;}
section.story:nth-child(even) img.picture,
section.story.reverse img.picture{margin-left:0;margin-right: -15px;}
section.story .text-cont{max-width: 520px;margin: 5rem auto 0;padding: 4rem 0;}
section.story .text-cont{margin:0 auto;padding: 1rem 0 2rem;}
section.story .text-cont + .text-cont{margin-top: 0rem;}
section.story .text-cont p{font-size: 90%;line-height: 1.5;color: rgba(255,255,255,0.8);}
section.story .text-cont h4{font-family: "Oswald", sans-serif;text-transform: uppercase;font-size: 2.2rem;line-height: 1.3;}
section.story .text-cont h5{font-family: "Oswald", sans-serif;text-transform: uppercase;font-size: 1.8rem;line-height: 1.3;}
section.story .text-cont span.number{font-family: "Oswald", sans-serif;font-size: 5.4rem;color: #E52B22;margin-right: 1.5rem;}
section.story:hover img.picture{opacity: 0.6;}

section.editorial{padding: 7rem 0;position: relative;overflow: hidden;}
section.editorial.large-marge{padding: 9rem 0;}
section.editorial img.picture{position: absolute;right: 0;opacity: 0.8;}
section.editorial img.picture:first-child{top:7rem;max-width: 700px;}
section.editorial img.picture:nth-child(even){left: 0;margin-top: 12rem;max-width: 400px;}
section.editorial img.picture:nth-child(3){bottom: 7rem;right: 3rem;max-width: 400px;}
section.editorial.reverse img.picture{right: auto;left:0;}
section.editorial.reverse img.picture:nth-child(even){left: auto;right: 0;}
section.editorial.reverse img.picture:nth-child(3){bottom: 0;left: 3rem;right: auto;}
section.editorial.stance img.picture{right: 2rem;}
section.editorial.stance img.picture:nth-child(2){top: 0;}
section.editorial.stance img.picture:nth-child(3){bottom: 12%;left: 10rem;right: auto;}
section.editorial.stance img.picture:nth-child(4){bottom: 0;right: 3rem;left: auto;}
section.editorial .text-cont{max-width: 580px;margin: 0 auto;display: block;z-index: 2;position: relative;}
section.editorial.no-align .text-cont{display: block;z-index: 2;position: relative;}
section.editorial.align-left .text-cont{margin: 0!important;}
section.editorial.align-right .text-cont{margin: 0 0 0 auto!important;}
section.editorial.stance .text-cont{margin: 0 auto 0 180px;}
section.editorial.stance .text-cont.right{margin: 0 300px 0 auto!important;}
section.editorial .text-cont + .text-cont{margin-top: 9rem!important;}
section.editorial .text-cont + .text-cont.right{margin: 10rem 100px 0 auto!important;max-width: 700px;}
section.editorial.small-gap .text-cont + .text-cont{margin-top: 3rem!important;}
section.editorial.large-marge .text-cont + .text-cont{margin-top: 12rem!important;}
section.editorial.ambulance .text-cont + .text-cont{margin-top: 2rem!important;}
section.editorial .text-cont h3,
section.editorial .text-cont h4{font-family: "Oswald", sans-serif;text-transform: uppercase;display: block;font-size: 2.1rem;}
section.editorial .text-cont h4{font-size: 2rem;text-align: center;}
section.editorial .text-cont p{padding: 0 45px;color: rgba(255,255,255,0.8);}
section.editorial.ambulance .text-cont h3{padding-left: 45px;}
section.editorial.no-align .text-cont p{padding: 0;}

section.cardnav{padding: 4rem 0 4rem;overflow-y: hidden;overflow-x: hidden;}
section.cardnav h3.title,
section.cardnav h4.msg{font-family: "Oswald", sans-serif;text-transform: uppercase;display: block;font-size: 1.46rem;text-align: left;display: block;max-width: 620px;margin: 0 auto 6rem;}
section.cardnav h4.msg{max-width: none;margin: none;}
section.cardnav .panel{position:relative;margin-bottom: 1rem;}
section.cardnav .panel .text-cont{position: absolute;top: 4rem;left: 0;padding-right: 5rem;z-index: 2;}
section.cardnav .panel .text-cont h5{font-family: "Oswald", sans-serif;text-transform: uppercase;display: block;font-size: 2.4rem;font-weight: 600;margin: 0 0 1rem;}
section.cardnav .panel .text-cont p{line-height: 1.34;color: rgba(255,255,255,0.8);}
section.cardnav .panel .picture{height: 75vh;width: 74%;display: block;background-size: cover;background-position: center center;background-repeat: no-repeat;margin-left: auto;opacity: 0.8;}
section.cardnav .panel:hover .text-cont{transform: translate(14px, 4px) scale(1.04,1.04);}
section.cardnav .panel:hover .picture{transform: translate(-10px, -12px) scale(0.98, 0.98) rotate3d(12,-15,4, 9deg);opacity: 0.6!important;}

section.banner{background-repeat: no-repeat;background-size: cover;background-position: center center;}
section.banner .text-cont{padding: 1rem;}
section.banner .text-cont h3{font-family: "Oswald", sans-serif;text-transform: uppercase;text-align: center;display: block;font-size: 2rem;display: block;padding: 3rem 0;margin: 0;}

footer.main{padding: 3rem 0;font-size: 14px;line-height: 1.3;}
footer.main a.branding{}
footer.main a.branding > img{width: 60px;height: auto;}
footer.main ul.nav{margin: 0 0 2rem;padding: 0;display: block;}
footer.main ul.nav li{display: block;margin-bottom: 0.4rem;}
footer.main ul.nav li a{display: inline-block;color: rgba(255,255,255,0.8);}
footer.main ul.nav li a:hover{color: #fff;}

@media (min-width: 576px) {
    section.message .text-cont h3,
    section.message .text-cont h4,
    section.message .text-cont h5{font-size: 1.6rem;}
    section.message .text-cont .paragraph{padding: 0 45px;}
    section.message .text-cont .paragraph:before,
    section.message .text-cont .paragraph:after{position: absolute;top: 10px;content: "";background-image: url("../images/quote-left.svg");display: inline-block;width: 30px;height: 24px;background-repeat: no-repeat;background-position: center center;background-size: contain;left: 0px;}
    section.message .text-cont .paragraph:after{left: auto;right: 0px;background-image: url("../images/quote-right.svg");}
}


@media (min-width: 768px) and (min-height: 640px) {
    body{font-size: 21px;}
    header.primary{padding: 1.5rem 1rem;}
    .menu-wrapper .close{right: 3rem;}
    .menu-wrapper nav ul{padding-right: 3rem;}
    .menu-wrapper nav ul li a{font-size: 3.6rem;}
    section.jumbo{overflow-x: hidden;}
    section.jumbo.red:before{width: 460px;}
    section.jumbo.red:after{content: "";width: calc(100% - 458px);height: 100%;background-image: url("../images/triangle-red-vertical.svg");background-repeat: no-repeat;background-size: cover;background-position: left;position: absolute;top: 0;left: 460px;opacity: 0.6;}
    section.jumbo.red.black:after{background-image: url("../images/triangle-black-vertical.svg");}
    section.jumbo .background{width: 100%;}
    section.jumbo .text-cont h1{font-size:3rem;}
    section.jumbo .text-cont h2{font-size: 2.6rem;}
    section.jumbo.red .text-cont p{max-width: 340px;}
    section.callout .text-cont{padding-left: 1.5rem;}
    section.callout .text-cont h2{font-size: 1.8rem;}
    section.message .text-cont h3{font-size: 1.8rem;}
    section.message .text-cont h4{font-size: 2rem;line-height: 1.4;}
    section.message .text-cont h5{font-size: 1.8rem;}
    section.message .text-cont p{font-size: 1.5rem;}
    section.message .text-cont .paragraph:before,
    section.message .text-cont .paragraph:after{width: 40px;height: 32px;left: -20px;}
    section.message .text-cont .paragraph:after{left: auto;right: -20px;}
    section.message .text-cont span.source{font-size: 1rem;}
    section.editorial{padding: 9rem 0;}
    section.editorial.large-marge{padding: 12rem 0;}
    section.editorial .text-cont h4{font-size: 2.4rem;}
    section.banner .text-cont h3{font-size: 2.4rem;padding: 7rem 0;}
    footer.main{padding: 3rem 0;font-size: 15px;}
    footer.main a.branding > img{width: 70px;height: auto;}
    footer.main ul.nav li{display: inline-block;}
    footer.main ul.nav.nobar li{display: block;}
    footer.main ul.nav li + li{margin-left: 0.5rem;padding-left:0.5rem;border-left: 1px solid #fff;}
    footer.main ul.nav.nobar li + li{border: none;margin-left: 0;padding-left: 0px;}
}

@media (min-width: 992px) {
    .menu-wrapper .close{top: 3rem;}
    section.jumbo.red:before{width: 500px;opacity: 1;}
    section.jumbo.red:after{left: 499px;width: calc(100% - 500px);background-size: contain;opacity: 1;}
    section.jumbo .background{width: calc(100% - 500px);}
    section.jumbo .text-cont h1{font-size: 4rem;}
    section.jumbo .text-cont h2{font-size: 3rem;}
    section.jumbo .text-cont p,
    section.jumbo.red .text-cont p{max-width: 440px;}
    section.callout .text-cont{padding-left: 2rem;max-width: 85%;margin: 0 auto;}
    section.callout .text-cont h2{font-size: 2rem;}
    section.message .text-cont{max-width: 70%;margin: 0 auto;}
    section.editorial.align-right .text-cont{margin: 0 4rem 0 auto!important;}
    section.message .text-cont h3{font-size: 2rem;}
    section.message .text-cont h4{font-size: 2.4rem;margin-bottom: 2rem;}
    section.message .text-cont h5{font-size: 2.2rem;}
    section.message .text-cont .paragraph:before,
    section.message .text-cont .paragraph:after{width: 50px;height: 40px;left: -30px;}
    section.message .text-cont .paragraph:after{left: auto;right: -30px;}
    section.message .text-cont p{font-size: 1.6rem;}
    section.message .text-cont span.source{font-size: 1.1rem;}
    section.editorial{padding: 11rem 0;}
    section.editorial.large-marge{padding: 14rem 0;}
    section.editorial .text-cont h4{font-size: 2.6rem;}
    section.banner .text-cont h3{font-size: 2.6rem;padding: 9rem 0;}
    footer.main a.branding > img{width: 100px;height: auto;}
}

@media (min-width: 1200px) {
    .tif-btn{font-size: 28px;}
    .menu-wrapper .close{right: 4rem;top: 4rem;}
    .menu-wrapper nav ul{padding-right: 4rem;}
    .menu-wrapper nav ul li a{font-size: 4rem;}
    .menu-wrapper .stripe{width: 600px;}
    .menu-wrapper .stripe:after{right:599px;}
    .menu-wrapper .stripe.second{width: 800px;}
    .menu-wrapper .stripe.second:after{right: 799px;}
    .menu-wrapper .stripe.third{width: 1000px;}
    .menu-wrapper .stripe.third:after{right: 999px;}
    section.jumbo.red{background-size: contain;background-position: right top;}
    section.jumbo.red:before{width: 520px;}
    section.jumbo.red:after{left: 518px;width: calc(100% - 520px);}
    section.jumbo .background{width: calc(100% - 520px);}
    section.jumbo .text-cont h1{font-size: 5rem;}
    section.jumbo .text-cont h2{font-size: 4rem;}
    section.jumbo .text-cont p,
    section.jumbo.red .text-cont p{max-width: 520px;}
    section.callout .text-cont{padding-left: 2.4rem;}
    section.callout .text-cont h2{font-size: 2.4rem;}
    section.message .text-cont{max-width: 65%;}
    section.message .text-cont h3{font-size: 2.4rem;}
    section.message .text-cont h4{font-size: 2.6rem;}
    section.message .text-cont h5{font-size: 2.4rem;}
    section.message .text-cont .paragraph:before{left: -40px;}
    section.message .text-cont .paragraph:after{right: -40px;}
    section.message .text-cont p{font-size: 1.7rem;}
    section.message .text-cont span.source{font-size: 1.2rem;}
    section.chapter_nav ul.nav li .text-cont h4{font-size: 3rem;}
    section.editorial{padding: 14rem 0;}
    section.editorial.large-marge{padding: 17rem 0;}
    section.banner .text-cont h3{font-size: 2.8rem;padding: 12rem 0;}
    footer.main{padding: 4rem 0;}
    footer.main ul.nav.nobar li{display: inline-block;}
    footer.main a.branding > img{width: 120px;height: auto;}
}

@media (min-width: 1500px) {
    .container {max-width: 1340px;}
    .menu-wrapper .close{right: 5rem;}
    .menu-wrapper nav ul{padding-right: 5rem;}
    .menu-wrapper nav ul li a{font-size: 4.4rem;}
    .menu-wrapper .stripe.second{width: 900px;}
    .menu-wrapper .stripe.second:after{right: 899px;}
    .menu-wrapper .stripe.third{width: 1200px;}
    .menu-wrapper .stripe.third:after{right: 1199px;}
    section.jumbo.red:before{width: 580px;}
    section.jumbo.red:after{left: 578px;width: calc(100% - 590px);}
    section.jumbo .background{width: calc(100% - 580px);}
    section.jumbo .text-cont h1{font-size: 6rem;}
    section.jumbo .text-cont h2{font-size: 5rem;}
    section.callout .text-cont{padding-left: 2.6rem;max-width: 75%;}
    section.callout .text-cont h2{font-size: 2.6rem;}
    section.message .text-cont{max-width: 60%;}
    section.message .text-cont h3{font-size: 2.6rem;}
    section.message .text-cont h4{font-size: 2.8rem;}
    section.chapter_nav ul.nav li .text-cont h4{font-size: 3.2rem;}
    section.editorial{padding: 19rem 0;}
    section.editorial.small-gap{padding: 12rem 0;}
    section.editorial.large-marge{padding: 20rem 0;}
    section.editorial.stance{padding: 12rem 0 16rem;}
    section.editorial.ambulance{padding: 14rem 0 12rem;}
    section.editorial .text-cont + .text-cont{margin-top: 12rem!important;}
    section.editorial.small-gap .text-cont + .text-cont{margin-top: 5rem!important;}
    section.editorial.large-marge .text-cont + .text-cont{margin-top: 15rem!important;}
    section.editorial.ambulance .text-cont + .text-cont{margin-top: 5rem!important;}
    section.banner .text-cont h3{font-size: 3rem;padding: 14rem 0;}
    footer.main{padding: 5rem 0;}
    footer.main ul.nav.nobar li + li{margin-left: 0.5rem;}
}

@media (min-width: 1700px) {
    .container {max-width: 1480px;}
}

@media (min-width: 1900px) {
    .container {
        max-width: 1640px;
    }
}